<div  class="container">
    <div class="d-flex align-items-center  justify-content-between p-2">
      <div class="">
        <h3 class="text-start text-primary p-sticky">Actes et Soins</h3>
        <p class="text-muted">Paramétrer l'ensemble de vos Actes</p>
      </div>
   
<div>
  <app-madal
  [title]="'Nouvel Acte'"
[component]="'acte-soin'"
[modalStyle]="{ fullscreen: true }"
[icon]="'plus'"
[classButton]="'btn btn-sm btn-primary'"      
></app-madal>

<app-madal
class="ml-2"
[title]="'Import Acte'"
[component]="'json-importer'"
[modalStyle]="{ size: 'lg' }"
[icon]="'sync'"
[classButton]="'btn btn-sm btn-success'"
[urlExport]="'api/acte'"
></app-madal>
</div>       


</div>
 
  <div style="overflow-y: auto; max-height: calc(100vh - 200px);"  class="shadow-sm shadow-primary bg-white row">

    <div class="col-md-12">
   
      <table class="table table-striped table-home">
        <thead>
          <tr>
            <th class="text-center text-primary">Codification<br/><input class="form-control"  (input)="inputValueSubject.next(inputValue)" [(ngModel)]="acte.codification"></th>
            <th class="text-center text-primary">Nom<br/>  <input class="form-control" (input)="inputValueSubject.next(inputValue)"  [(ngModel)]="acte.name"></th>
            <th class="text-center text-primary">Description<br/><input class="form-control" (input)="inputValueSubject.next(inputValue)"  [(ngModel)]="acte.description"></th>
            <th class="text-center text-primary">Prix Unitaire<br/><input class="form-control" type="number" (input)="inputValueSubject.next(inputValue)"  [(ngModel)]="acte.prix_unitaire"></th>
            <th class="text-center text-primary">dispositifs</th>
            <th class="text-center text-primary">Matières</th>
            <th class="text-center text-primary">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acte of actes">
            <td class="text-center">{{acte.codification}}</td>
            <td class="text-center">{{acte.name}}</td>
            <td class="text-center">
           {{acte.description}}
            </td>
            <td class="text-center">{{acte.prix_unitaire}}</td>
            <td class="text-center">
              <span *ngFor="let dispo of acte.dispositifsMedicaux" class="badge bg-primary mr-1 border-rounded">
                {{dispo.name}}
              </span>
            </td>
            <td class="text-center">
              <span *ngFor="let dispo of acte.matieres" class="badge bg-primary mr-1 border-rounded">
                {{dispo.name}}
              </span>
            </td>
            <td class="d-flex justify-content-center">
                <app-madal
                (actionAcomplished)="callApi('')"
                [object]="acte"   
                [classButton]="'btn btn-sm text-primary border-primary'"           
                [component]="'acte-soin'"
                [modalStyle]="{ fullscreen: true }"
                [icon]="'edit'"
              ></app-madal>
              <button (click)="delete(acte.id)" class="ml-2 btn btn-sm btn-outline-danger">
                <i class="fas fa-trash"></i> 
              </button>
            </td>
          </tr>
      
        </tbody>
      </table>
    </div>
  </div>
</div>
