<div class="container p-3">
<div class="row mb-2">
    <div class="col-sm-3">
      <button class="btn btn-secondary" (click)="isList = !isList">
        vue calendrier
      </button>
    </div>
    <div class="col-sm-4">
      <h3 class="p-sticky text-center text-primary">Rendez-vous</h3>
    </div>
    <div class="col-sm-5 text-end">
      <app-madal
        [title]="'Nouveau Rendez-vous'"
        [component]="'rdv'"
        [supplement_object]="{initiationPatient:false,sansRdv:false}"
        [modalStyle]="{ size: 'lg' }"
        [icon]="'plus'"
        [classButton]="'btn btn-sm btn-primary'"
        (actionAcomplished)="callApi('')"
        *ngIf="isList == true"  ></app-madal>
    
    <div *ngIf="isList == false">
      <div class="d-flex justify-content-between">
        <app-calendar-options (datesGenerated)="initiateDate($event)"></app-calendar-options>
      </div>
    </div>
  </div>

  <div *ngIf="isList == true" class="row">
    <div
      style="overflow-y: auto; max-height: calc(100vh - 166px)"
      class="bg-white col-md-12 table-responsive"
    >
      <table class="table table-striped table-home">
        <thead class="shadow-sm text-primary">
          <tr>
            <th>
              Patient<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="rdv.patient"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            
              <th>
                Medcin<br />
                <input
                  *ngIf="isSearch == true"
                  [(ngModel)]="rdv.medcin"
                  (input)="inputValueSubject.next(inputValue)"
                />
              </th>
            <th>
              Date<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="rdv.date"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Heure<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="rdv.heure"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Statut<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="rdv.statut"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th class="text-end">
              <button
                (click)="initiateRdv()"
                class="btn btn-sm border-primary text-primary"
              >
                <i *ngIf="isSearch == false" class="fas fa-search"></i>
                <i *ngIf="isSearch == true" class="fas fa-times"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rdv of rdvs">
            <td>{{ rdv.patient.nom }} {{ rdv.patient.prenom }}</td>
            <td>Dr.{{ rdv.medcin.nom }}</td>
            <td>{{ rdv.date }}</td>
            <td>{{ rdv.heure }}</td>
            <td><span [ngClass]="rdv.bg"  class="badge p-1">{{ rdv.statut }}</span></td>
            <td>
              <div
                class="d-flex justify-content-center"
                *ngIf="rdv.toconfirm == true || rdv.todiscard == true"
              >
                <button
                  (click)="confirmer(rdv)"
                  *ngIf="rdv.toconfirm == true"
                  class="btn btn-primary btn-sm  mr-1"
                >
                  <i class="fas fa-check"></i> 

             
                </button>
                <button
                  (click)="annuler(rdv)"
                  *ngIf="rdv.todiscard == true"
                  class="btn btn-primary btn-sm btn-danger"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="isList == false" class="row">
    <div class="col-md-12 mt-2">
      <app-table-calendar
        [dateArray]="dates"
        *ngIf="isList == false"
      ></app-table-calendar>
    </div>
  </div>
</div>
