<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-tooth fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Actes et Soins</h5>
            <p class="card-text">Gérez les actes et soins dentaires proposés dans votre cabinet.</p>
            <a [routerLink]="['/', 'actes-soins']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-file-medical-alt fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Bilans</h5>
            <p class="card-text">Gérez les bilans médicaux effectués dans votre cabinet.</p>
            <a [routerLink]="['/', 'bilans']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-pills fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Médicaments</h5>
            <p class="card-text">Gérez les médicaments disponibles dans votre cabinet.</p>
            <a [routerLink]="['/', 'medicaments']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-heartbeat fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Paramètres Vitaux</h5>
            <p class="card-text">Gérez les paramètres vitaux de vos patients.</p>
            <a [routerLink]="['/', 'parametres-vitaux']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-file fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Certificats Médicaux</h5>
            <p class="card-text">Gérez les différents types de certificats médicaux disponibles.</p>
            <a [routerLink]="['/', 'certificat-medical-settings']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-sitemap fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Bilans Type</h5>
            <p class="card-text">Regrouper un ensemble de bilan dans un bilan type pour les affecter tous à la fois pour un patient </p>
            <a [routerLink]="['/', 'bilan-type']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
          <div class="card-body">
            <i class="fas fa-money-bill fa-5x text-primary"></i>
            <h5 class="card-title mt-3 text-muted">Famille Dépense</h5>
            <p class="card-text">Regrouper un ensemble de bilan dans un bilan type pour les affecter tous à la fois pour un patient </p>
            <a [routerLink]="['/', 'depenses-categories']" class="btn btn-sm btn-secondary">Accéder</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  