<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h3 class="text-center">Paramètres vitaux</h3>
      <app-madal
      [component]="'bilan'"
      [title]="'Nouveau Paramétre vital'"
      [icon]="'plus'"></app-madal>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 bg-white">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Unité de mesure</th>
            <th scope="col">Valeur minimale</th>
            <th scope="col">Valeur maximale</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Tension artérielle</td>
            <td>mmHg</td>
            <td>90</td>
            <td>140</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-outline-primary">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Fréquence cardiaque</td>
            <td>bpm</td>
            <td>60</td>
            <td>100</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-outline-primary">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Température corporelle</td>
            <td>°C</td>
            <td>36</td>
            <td>38</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-outline-primary">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Saturation en oxygène</td>
            <td>%</td>
            <td>95</td>
            <td>100</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-outline-primary">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
