<div class="container p-3">
  <div class="d-flex justify-content-between mb-2 text-primary">
    <h3 class="p-sticky text-center text-primary">Paramétrage - Paramètres Vitaux</h3>
    <div class="d-flex justify-content-between">
      <app-madal
        [title]="'Nouveau Paramètre Vital'"
        [component]="'parametre-vital'"
        [modalStyle]="{ size: 'lg' }"
        [icon]="'plus'"
        [classButton]="'btn btn-sm btn-primary'"
        (actionAcomplished)="callApi('')"
      ></app-madal>

      <app-madal
        class="ml-2"
        [title]="'Import Paramètres Vitaux'"
        [component]="'json-importer'"
        [modalStyle]="{ size: 'lg' }"
        [icon]="'sync'"
        [classButton]="'btn btn-sm btn-success'"
        [urlExport]="'api/parametres-vitaux'"
      ></app-madal>
    </div>
  </div>

  <div class="row">
    <div
      style="overflow-y: auto; max-height: calc(100vh - 166px)"
      class="bg-white col-md-12 table-responsive"
    >
      <table class="table table-striped table-home">
        <thead class="shadow-sm text-primary">
          <tr>
            <th>
              Nom<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="parametreVital.name"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Description<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="parametreVital.description"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Min.<br />
    
            </th>
            <th>
             Max.<br />
    
            </th>
            <th>
              Unité de mesure<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="parametreVital.uniteMesure"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th class="text-end">
              <button
                (click)="initiateParametreVital()"
                class="btn btn-sm border-primary text-primary"
              >
                <i
                  *ngIf="isSearch == false"
                  class="fas fa-search"
                ></i>
                <i
                  *ngIf="isSearch == true"
                  class="fas fa-times"
                ></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parametreVital of parametresVitaux">
            <td>{{ parametreVital.name }}</td>
            <td>{{ parametreVital.description }}</td>
            <td>{{ parametreVital.valeurMin }}</td>
            <td>{{ parametreVital.valeurMax }}</td>
            <td>{{ parametreVital.uniteMesure }}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fas fa-trash"></i>
              </button>
              <app-madal
                [object]="parametreVital"
                [component]="'parametre-vital'"
                [modalStyle]="{ size: 'lg' }"
                [icon]="'edit'"
                [classButton]="'btn btn-sm ml-2 btn-icon btn-primary'"
                (actionAcomplished)="callApi('')"
              ></app-madal>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
