<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cabinet Médical</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Facturation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Paramètres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Contenu de la page -->
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-user-md fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion des patients</h5>
            <p class="card-text">Gérez les informations des patients et leur historique médical</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="far fa-calendar-alt fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion de l'agenda</h5>
            <p class="card-text">Planifiez les rendez-vous et gérez l'emploi du temps du médecin</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-file-invoice-dollar fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion de la facturation</h5>
            <p class="card-text">Gérez les factures et les paiements des patients</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-chair fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Salle D'attente</h5>
            <p class="card-text">Regardez En tout Moment la situation de votre salle d'attente</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
