

  <!-- Contenu de la page -->

    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-user-md fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion des patients</h5>
            <p class="card-text">Gérez les informations des patients et leur historique médical</p>
            <a [routerLink]="['/','patients']" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="far fa-calendar-alt fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion de l'agenda</h5>
            <p class="card-text">Planifiez les rendez-vous et gérez l'emploi du temps du médecin</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-file-invoice-dollar fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Gestion de la facturation</h5>
            <p class="card-text">Gérez les factures et les paiements des patients</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card bg-primary text-light p-3 m-2 flex-fill d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-chair fa-5x mb-3"></i>
          <div class="text-center">
            <h5 class="card-title">Salle D'attente</h5>
            <p class="card-text">Regardez En tout Moment la situation de votre salle d'attente</p>
            <a href="#" class="btn btn-light">Accéder</a>
          </div>
        </div>
      </div>
    </div>

  
  
  
  
