<div class="container-fluid">

    <div class="row mt-3">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="nomBilan">Nom du bilan</label>
            <input type="text" class="form-control" id="nomBilan" placeholder="Nom du bilan">
          </div>
          <div class="form-group">
            <label for="uniteMesure">Unité de mesure</label>
            <input type="text" class="form-control" id="uniteMesure" placeholder="Unité de mesure">
          </div>
          <div class="form-group">
            <label for="valeurMin">Valeur minimale</label>
            <input type="number" class="form-control" id="valeurMin" placeholder="Valeur minimale">
          </div>
          <div class="form-group">
            <label for="valeurMax">Valeur maximale</label>
            <input type="number" class="form-control" id="valeurMax" placeholder="Valeur maximale">
          </div>
     
        </form>
      </div>
    </div>
  </div>
  