<div class="container">
    <h1>Formulaire d'intérêts</h1>
    <form>
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" name="nom" required [(ngModel)]="nom">
      </div>
      <div class="form-group">
        <label for="interets">Intérêts:</label>
        <ng-template #itemTemplate let-item>
          <div class="tag-container">
            {{ item }}
            <button type="button" class="close" aria-label="Close" (click)="removeItem(item)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </ng-template>
        <input
          type="text"
          class="form-control"
          id="interets"
          name="interets"
          [(ngModel)]="selectedInterest"
          [typeahead]="interests"
          [typeaheadOptionsLimit]="10"
          (typeaheadOnSelect)="addInterest($event.item)"
        >
        <div *ngFor="let interest of selectedInterests" class="tag-container">
          {{ interest }}
          <button type="button" class="close" aria-label="Close" (click)="removeInterest(interest)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>