<div class="container">
    <h1>Agenda</h1>
    <hr>
<div class="row">
    <div class="col-md-12 mt-5">
      <div class='demo-app'>
        <div class="d-flex justify-content-between mb-5">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary"><i class="far fa-calendar-alt"></i></button>
              <button type="button" class="btn btn-secondary"><i class="fas fa-list-alt"></i></button>
           
              </div>
            <button class="btn btn-primary"><i class="fas fa-plus"></i>Nouveau</button>
            
          </div>

      
        <div class='demo-app-main'>
          <full-calendar *ngIf="calendarVisible" [options]="calendarOptions">
            <ng-template #eventContent let-arg>
              <b>{{ arg.timeText }}</b>
              <i>{{ arg.event.title }}</i>
              <i class="m-2 text-success fas fa-check"></i>
            </ng-template>
          </full-calendar>
        </div>
    </div>
    
  </div>
  </div>
  </div>