<div class="container-fluid m-1 p-1">
  <div class="d-flex justify-content-between mb-2 text-primary">
    <h3 class="p-sticky text-center text-primary">Paramétrage - Patients</h3>
    <div class="d-flex justify-content-between">
      <button
      (click)="initiatePatient()"
      class="btn h-75 btn-sm  border-primary mr-2"
 [ngClass]="isSearch?'bg-primary text-white':'bg-white text-primary'"   >
      <i *ngIf="isSearch == false" class="fas fa-search"></i>    <span *ngIf="isSearch == false">Rechercher</span>
      <i *ngIf="isSearch == true" class="fas fa-times"></i> <span *ngIf="isSearch == true">Effacer recherche</span>
    </button>
      <app-madal
        [title]="'Nouveau Patient'"
        [component]="'patient'"
        [modalStyle]="{ fullscreen: true }"
        [icon]="'plus'"
        [classButton]="'btn btn-sm btn-primary'"
        (actionAcomplished)="callApi('')"
      ></app-madal>

      <app-madal
        class="ml-2"
        [title]="'Import Patient'"
        [component]="'json-importer'"
        [modalStyle]="{ size: 'lg' }"
        [icon]="'sync'"
        [classButton]="'btn btn-sm btn-success'"
        [urlExport]="'api/patient'"
      ></app-madal>
    </div>
  </div>

  <div class="row">
    <div
      style="overflow-y: auto; max-height: calc(100vh - 166px)"
      class="bg-white col-md-12 table-responsive"
    >
      <table class="table table-striped table-home">
        <thead class="shadow-sm text-primary">
          <tr>
            <th>
              Nom<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.nom"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Prénom<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.prenom"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Adresse<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.adresse"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Téléphone 1<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.telephone1"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Téléphone 2<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.telephone2"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Email<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.email"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Civilite<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.civilite"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              CIN<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.cin"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              N° CNSS<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.nCnss"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              Mutuelle<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.mutuelle"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              N° Mutuelle<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.nMutuelle"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th>
              N° Sécurité Sociale<br />
              <input
                *ngIf="isSearch == true"
                [(ngModel)]="patient.numeroSecuriteSociale"
                (input)="inputValueSubject.next(inputValue)"
              />
            </th>
            <th class="text-end">
          
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.nom }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.adresse }}</td>
            <td>{{ patient.telephone1 }}</td>
            <td>{{ patient.telephone2 }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.civilite }}</td>
            <td>{{ patient.cin }}</td>
            <td>{{ patient.ncnss }}</td>
            <td>{{ patient.mutuelle }}</td>
            <td>{{ patient.nmutuelle }}</td>
            <td>{{ patient.numeroSecuriteSociale }}</td>

            <td>
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fas fa-trash"></i>
              </button>
              <app-madal
                [object]="patient"
                [component]="'patient'"
                [modalStyle]="{ fullscreen: true }"
                [icon]="'edit'"
                [classButton]="'btn btn-sm ml-2 btn-icon btn-primary'"
                (actionAcomplished)="callApi('')"
              ></app-madal>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
