<div class="col-md-12">
  <form [formGroup]="medicamentForm" (ngSubmit)="onSubmit()" class="p-4">
    <div class="form-group">
      <label for="nomMedicament">Nom du médicament:</label>
      <input type="text" class="form-control" id="nomMedicament" formControlName="name" required>
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description" required></textarea>
    </div>
  
    <div class="form-group">
      <label for="dosage">Dosage:</label>
      <input type="text" class="form-control" id="dosage" formControlName="dosage">
    </div>
  
    <div class="form-group">
      <label for="contreIndication">Contre-indication:</label>
      <textarea class="form-control" id="contreIndication" formControlName="contreIndication"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
  </div>