<div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="nom">Nom du médicament :</label>
        <input type="text" class="form-control" id="nom" />
      </div>
      <div class="form-group">
        <label for="description">Description :</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="dosage">Dosage :</label>
        <input type="text" class="form-control" id="dosage" />
      </div>
      <div class="form-group">
        <label for="contre-indication">Contre-indication :</label>
        <textarea
          class="form-control"
          id="contre-indication"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="prix">Prix :</label>
        <input type="number" class="form-control" id="prix" />
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>