<div   class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h3 class="p-sticky text-center text-primary">
        Paramétrage - Bilans
      </h3>
      <div>
        <app-madal
          class="ml-2"
          [title]="'Import Bilan'"
          [component]="'json-importer'"
          [modalStyle]="{ size: 'lg' }"
          [icon]="'sync'"
          [classButton]="'btn mr-2 btn-sm btn-success'"
          [urlExport]="'api/bilan'"
          (actionAcomplished)="  fetchBilans()"
        ></app-madal>
        <app-madal
          [component]="'bilan'"
          [title]="'Nouveau Bilan'"
          [icon]="'plus'"
          [classButton]="'btn btn-sm btn-primary'"
          (actionAcomplished)="  fetchBilans()"
        ></app-madal>
      </div>
    </div>
  </div>
  <div style="max-height: calc(100vh - 150px); overflow-y: auto;" class="shadow-sm row mt-3 bg-white">
    <div class="col-md-12">

        <table class="table table-home table-striped">
          <thead>
            <tr>
              <th scope="col">Code<br />
                <input
                  *ngIf="isSearch == true"
                  [(ngModel)]="bilan.codification"
                  (input)="inputValueSubject.next('')"
                /></th>
              <th scope="col">Nom du bilan<br />
                <input
                  *ngIf="isSearch == true"
                  [(ngModel)]="bilan.name"
                  (input)="inputValueSubject.next('bilan')"
                /></th>
              <th scope="col">Description<br />
                <input
                  *ngIf="isSearch == true"
                  [(ngModel)]="bilan.description"
                  (input)="inputValueSubject.next('')"
                /></th>
              <th scope="col">type<br />
            </th>
              <th class="text-nowrap" scope="col">Unité de mesure <br />
                <input
                  *ngIf="isSearch == true"
                  [(ngModel)]="bilan.uniteMesure"
                  (input)="inputValueSubject.next('')"
                /></th>
              <th scope="col">Valeur minimale</th>
              <th scope="col">Valeur maximale</th>
              <th>
                <button (click)="initiateBilan()" class="btn btn-sm border-primary btn-icon text-primary">
                  <i
            
                  *ngIf="isSearch == false"
                  class="fas fa-search"
                ></i>
                <i
              
                  *ngIf="isSearch == true"
                  class="fas fa-times"
                ></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bilan of bilans">
              <td>{{ bilan.codification }}</td>
              <td>{{ bilan.name }}</td>
              <td>{{ bilan.description }}</td>
              <td><span *ngIf="bilan.numerique == true">Numérique</span>
                <span *ngIf="bilan.numerique==false">Textuel</span></td>
              <td>{{ bilan.uniteMesure }}</td>

              <td><span *ngIf="bilan.numerique == true">{{bilan.valeur_min}}</span></td>
              <td><span *ngIf="bilan.numerique == true">{{bilan.valeur_max}}</span></td>
              <td>
                <app-madal
                  [component]="'bilan'"
                  [classButton]="
                  
                    'btn btn-primary btn-sm btn-icon btn-rounded-circle'
                  "
                  [icon]="'edit'"
                  [object]="bilan" ></app-madal>
                <a href="#" class="btn btn-outline-danger btn-sm mx-1">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
      
          </tbody>
        </table>
      
    </div>
  </div>
</div>
