<div class="container">
  <h5 class="text-secondary">Les Bilan à préscrire pour contrôle</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Sélectionner</th>
        <th>Bilan</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" name="bilan" value="verification_plombages" />
        </td>
        <td>Examens radiologiques</td>
        <td>
          Image radiographique des dents et de la mâchoire pour détecter les
          caries, les infections et autres problèmes
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="bilan" value="verification_plombages" />
        </td>
        <td>Examen de la gencive</td>
        <td>
          Examen de l'état de santé de la gencive pour détecter les signes
          d'inflammation, de saignement et de maladies des gencives
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="bilan" value="verification_plombages" />
        </td>
        <td>Vérification de l'occlusion</td>
        <td>
          Examen de l'alignement des dents et de la façon dont les dents
          supérieures et inférieures se rencontrent pour détecter les problèmes
          de morsure
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="bilan" value="verification_plombages" />
        </td>
        <td>Vérification des plombages et des couronnes</td>
        <td>
          Examen des plombages et des couronnes pour détecter les signes
          d'usure, de fuite et d'autres problèmes
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="bilan" value="test_depistage_caries" />
        </td>

        <td>Test de dépistage de la carie</td>
        <td>
          Examen de l'émail des dents pour détecter les signes précoces de carie
          dentaire
        </td>
      </tr>
    </tbody>
  </table>
</div>
