<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-basic-title">{{ title }}</h4>
    <button
      type="button"
      class="btn-close text-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-new-patient *ngIf="component == 'patient'"></app-new-patient>
    <app-new-rdv *ngIf="component == 'rdv'"></app-new-rdv>
    <app-new-traitement *ngIf="component == 'traitement'"></app-new-traitement>
    <app-bilan-types *ngIf="component == 'bilan-type'"></app-bilan-types>
    <app-new-certificat *ngIf="component == 'certificat'"></app-new-certificat>
    <app-edition-certificat
      *ngIf="component == 'edition-certificat'"
    ></app-edition-certificat>
    <app-new-acte-soin [object]="object" (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)" *ngIf="component == 'acte-soin'"></app-new-acte-soin>
    <app-new-medicament [medicament]="object" (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)" *ngIf="component == 'medicament'"></app-new-medicament>
  <app-new-dispositif-medical [bilan]="object" (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)" *ngIf="component == 'dispositif-medical'"></app-new-dispositif-medical>
    <app-new-bilan [bilan]="object" (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)" *ngIf="component == 'bilan'"></app-new-bilan>
    <app-new-matiere-premiere [bilan]="object" (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)" *ngIf="component == 'matiere-premiere'"></app-new-matiere-premiere>

    <app-new-bilan-type
    [object]="object"
    (actionAcomplished)="modal.dismiss('') ;actionAcomplished.emit(true)"
      *ngIf="component == 'bilan-type-param'"
    ></app-new-bilan-type>
    <app-new-categorie-depense
      *ngIf="component == 'categ-depense'"
    ></app-new-categorie-depense>
    <app-new-depense *ngIf="component == 'new-depense'"></app-new-depense>
    <app-new-ordonance-type
    (actionAcomplished)="modal.dismiss('');actionAcomplished.emit(true)"
    [object]="object"
      *ngIf="component == 'new-ordonance-type'"
    ></app-new-ordonance-type>
    <div *ngIf="component == 'json-importer'">
      <app-json-entity-uploader
      (actionAcomplished)="modal.dismiss('');actionAcomplished.emit(true)"
        [urlExport]="urlExport"
      ></app-json-entity-uploader>
    </div>
  </div>
</ng-template>

<button
  class="shadow-sm"
  [ngClass]="classButton == null ? 'btn btn-lg btn-primary' : classButton"
  (click)="open(content)"
>
  <i [ngClass]="'mr-2 fas fa-' + icon"></i>
  <span *ngIf="title != null">{{ title }}</span>
</button>
