<div class="container-fluid">
    <form class="row">
        <div class="col-sm-3 mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="tel" class="form-label">Téléphone</label>
          <input type="tel" class="form-control" id="tel" name="tel" placeholder="Entrez votre numéro de téléphone" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse email" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="date" class="form-label">Date du rendez-vous</label>
          <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="heure" class="form-label">Heure du rendez-vous</label>
          <input type="time" class="form-control" id="heure" name="heure" required>
        </div>
        <div class="col-sm-3 mb-3">
          <label for="commentaires" class="form-label">Commentaires</label>
          <textarea class="form-control" id="commentaires" name="commentaires" rows="3"></textarea>
        </div>
      
      </form>
      
</div>
